.login-box {
    border: 2px solid black;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin: 0 auto;
}

.login-btn {
    margin-top: 2rem;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #0056b3;
}

.login-input {
    border: 2px dashed;
}

.login-input::placeholder {
    font-style: italic;
}

.login-h2 {
    margin-top: 1rem;
    margin-bottom: 0rem;
}